
/* Reset */
*{
    margin: 0px;
    padding: 0px;
}
/* Main */
body{

    
    background-color:black;
    margin: 20px 5px 5px 20px;
    padding: 5px 5px 10px 10px;
    border: 0.5px groove green;
    height: 950px;
    border-radius: 4px;
    border-style: double;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
#container{
    background-color:red;

}
ul{
    list-style: none;
    display: inline;
    margin-right: 10px;
    text-align: center;
    
    
    
}
/* #nav-links{
    background-image: url(czlogo.jpg);
    max-width: max-content;
} */
a{
    color: #ffffff;
    text-shadow: 1px 3px 5px black ;
}
a:hover{
    text-shadow: 1px 2px 4px green
}
img{
    height: 40vh;
    width: 20vw; 
}
#logo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-top: 20px;
}
#pri-links{

    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    padding-right: 3px;
}   
#credentials{
    float: right;
    padding: 5px;
    margin: 10px;
}
#log-btn{
    padding: 4px;
    margin: 1px;
    
}